.container {
    background-color: rgb(159, 159, 159);
    text-align      : center;
    padding-top     : 12px;
    padding-bottom  : 12px;
}


.container p {
    margin     : auto;
    font-weight: bold;
}